<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-text-scale-plugin" version="1.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>text-scale-ios</name>
    <js-module name="text-scale-ios" src="www/text-scale-ios.js">
        <clobbers target="cordova.plugins.text-scale-ios" />
    </js-module>
    <platform name="ios">
        <config-file parent="/*" target="config.xml">
            <feature name="text-scale-ios">
                <param name="ios-package" value="text-scale-ios" />
            </feature>
        </config-file>
        <source-file src="src/ios/text-scale-ios.m" />
    </platform>
</plugin>