<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="cordova-plugin-textscale"
        version="1.0.0">
    <name>TextScalePlugin</name>
    <description>Cordova Plugin to get iOS text scale</description>
    <license>MIT</license>
    <keywords>cordova,ios,text,scale,accessibility</keywords>
    <js-module name="TextScalePlugin" src="www/TextScalePlugin.js">
        <clobbers target="TextScalePlugin" />
    </js-module>
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="TextScalePlugin">
                <param name="ios-package" value="TextScalePlugin" />
            </feature>
        </config-file>
        <source-file src="src/ios/TextScalePlugin.h" />
        <source-file src="src/ios/TextScalePlugin.m" />
        <preference name="deployment-target" value="11.0" />
    </platform>
</plugin>
